@font-face {
	font-family: 'OpenSans';
	src: url('../assets/fonts/OpenSans-Regular.ttf');
}

body
{
	color: white;
	text-align: center;
	background-color: #020a14;
	font-family: 'OpenSans', Verdana, sans-serif;
	font-size: 18px;
	height: 100vh;
	overflow: hidden;
}

button, input, select
{
	border-radius: 25px;
	color: #c8a96b;
	border: 1px solid #c8a96b;
	background-color: #31302c;
	padding: 5px 10px;
	margin-left: 5px;
	margin-right: 5px;
}

button:hover
{
	color: #f0e5d7;
	border: 1px solid #f0e5d7;

	transition: 0.1s ease-in-out;
}

button:disabled
{
	color: #7d6a45;
}

a, a:visited
{
	color: white;
	text-decoration: none;
}

a:focus
{
	color: #c89b3c;
	border: 1px solid #c89b3c;

	transition: 0.1s ease-in-out;
}

input { color: white; }

::placeholder { color: rgb(149, 149, 149); }

/* General Classes */
.subtext
{
	opacity: 0.5;
	font-size: 85%;
}

.invisible
{
	opacity: 0.0;
	transition: all 0.25s ease-in-out;
}

#mainContent
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Pages */
body > span { visibility: hidden; }
.selectedPage { visibility: visible; }

/* Champion */
#championIcon
{
	width: 100%;
	max-width: 200px;
}

/* Runes */
#runes
{
	margin: 25px auto;
	width: 100%;
	height: 500px;
	max-width: 200px;
	justify-content: center;
	align-items: center;
	display: block;
}

#runes > div
{
	width: 45%;
}

#runes img
{
	width: 100%;
	height: auto;
	border: 1px solid #c8a96b;
	border-radius: 100px;
	margin-bottom: 5px;
}

#runes > div > img:first-child
{
	border: none;
	width: 75%;
	margin-bottom: 20px;
}

#primaryRunes { float: left; }
#secondaryRunes { float: right; }

#statMods
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 40%;
}

#runeExporter
{
	display: block;
	margin-top: 25px;
}

#runeExporter > select
{
	width: 120px;
}

/* Main Content screen */
#mainContent
{
	margin: auto;
	width: 90vw;

	overflow-x: hidden;
}

/* Disconnected screen */
#disconnected
{
	animation: fade-in-out 3s linear infinite;

	/* Center */
	position: absolute;
	left: 50vw;
	top: 50vh;
	transform: translate(-50%, -50%);
}

@keyframes fade-in-out
{
	0%   { opacity: 1.00; }
	50%  { opacity: 0.65; }
	100% { opacity: 1.00;}
}

@media screen and (min-height: 545px) and (max-height: 750px)
{
	#championIcon { max-width: 75px; }
	#runes
	{
		max-width: 100px;
		height: 275px;
	}
}

@media screen and (min-height: 750px) and (max-height: 1000px)
{
	#championIcon { max-width: 100px; }
	#runes
	{
		max-width: 130px;
		height: 350px;
	}
}


@media screen and (max-height: 545px)
{
	#championIcon { max-width: 75px; }
	#primaryRunes, #secondaryRunes { float: none; margin: 0; }
	#runes
	{
		width: 100%;
		height: fit-content;
		max-width: 725px;
	}

	#runes > div { width: 100%; }
	#runes img
	{
		width: 10%;
		margin: 0;
		margin-left: 10px;
	}

	#runes > div > img:first-child
	{
		width: 7.5%;
		margin: 0 0 1.5% 0;
	}
}