@font-face {
	font-family: 'OpenSans';
	src: url('../assets/fonts/OpenSans-Regular.ttf');
}

body
{
	color: white;
	text-align: center;
	background-color: #020a14;
	font-family: 'OpenSans', Verdana, sans-serif;
	font-size: 18px;
}

body > span { visibility: hidden; }
.selectedPage { visibility: visible; }